@import "../../styles/variables.scss";
.wrapper {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  .card {
    margin: auto;
    display: block;
    width: 320px;
    padding: 40px;
    background-color: rgb(25, 25, 32);
    .label {
      font-size: 12px;
    }
    .input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 1px solid $text;
      padding: calc($size-bezel * 1.3) $size-bezel;
      color: $white;
      background: transparent;
      border-radius: $size-radius;
      margin-bottom: 20px;
      &:focus {
        border: 1px solid $accent;
      }
    }

    .btnBlock {
      display: block;
      gap: 10px;
      .btn {
        margin-top: 10px;
        width: 100%;
        padding: 8px 25px;
        border-radius: $size-radius;
        background-color: transparent;
        border-color: $accent;
        color: $accent;
        cursor: pointer;
        @extend %mini-title-font;
        &:hover {
          background-color: $accent;
          border-color: $accent;
          color: $background;
        }
      }
      .btnError {
        background-color: $text;
        border: none;
        color: $white;
      }
      .btnError:hover,
      .btnError:focus {
        background-color: $text;
        color: $white;
        border: none;
      }

      .btnCancel {
        margin-top: 10px;
        width: 100%;
        padding: 8px 25px;
        border-radius: $size-radius;
        background-color: transparent;
        border-color: $text;
        color: $text;
        cursor: pointer;
        @extend %mini-title-font;
        &:hover {
          background-color: transparent;
          border-color: $white;
          color: $white;
        }
      }
    }
  }

  @media screen and (min-width: 1023px) {
    .card {
      width: 700px;
      padding: 70px;
    }
  }
}
