$background: #20202a;
$secondary: #87a330;
$accent: #ffc107;
$text: #8c8c8e;
$white: #fafafc;

%mini-title-font {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1rem;
  text-transform: uppercase;
}

%info-card {
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  padding: 10px 15px;
}
