@import "../../../styles/variables.scss";
.btn {
  padding: 8px 25px;
  border-color: transparent;
  border-radius: $size-radius;
  background-color: $accent;
  color: $background;
  @extend %mini-title-font;
  &:hover {
    background-color: transparent;
    border-color: $accent;
  }
  &.active {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
