@import "../../styles/variables.scss";
.navbar {
  position: absolute;
  left: -220px;
  width: 220px;
  height: 100vh;
  background: $background;
  transition: 0.55s ease-in-out;
  z-index: 1;
  box-shadow: 5px 5px 5px rgb(15 15 20 / 20%);
  &_header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background: linear-gradient(
      159deg,
      rgba(37, 37, 50, 0.98) 0%,
      rgba(35, 35, 45, 0.98) 100%
    );
  }
  &_btn {
    position: fixed;
    left: 25px;
    cursor: pointer;
    transition: 0.8s ease-in-out;
    span {
      &:hover {
        background: $white;
        &::before {
          background: $white;
        }
        &::after {
          background: $white;
        }
      }
      content: "";
      display: block;
      width: 20px;
      height: 3px;
      border-radius: 1px;
      background: $text;
      transition: 0.3s ease-in-out;

      &:before {
        position: absolute;
        top: -5px;
        content: "";
        width: 20px;
        height: 3px;
        border-radius: 1px;
        background: $text;
        transition: 0.3s ease-in-out;
      }
      &:after {
        position: absolute;
        top: 5px;
        content: "";
        width: 20px;
        height: 3px;
        border-radius: 1px;
        background: $text;
        transition: 0.3s ease-in-out;
      }
    }
  }
  &_content {
    height: calc(100% - 70px);
  }
  &_menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    ul {
      margin: 0 0 120px;
      width: 100%;
    }
  }

  &_title {
    padding: 8px 25px;
    text-transform: uppercase;
  }
  &_link {
    display: block;
    padding: 8px 25px;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    color: $text;
    transition: 0.55s ease-in-out;
    &:hover {
      color: $white;
    }
  }
  &_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    margin: 0;
    background: linear-gradient(
      159deg,
      rgba(37, 37, 50, 0.98) 0%,
      rgba(35, 35, 45, 0.98) 100%
    );
  }
}

.menu_active {
  transform: translateX(220px);
}

.btn_active {
  margin: 0 150px 0;
}

.span_active {
  transform: rotate(-45deg);
  &:before {
    transform: translate(0px, 5px) rotate(-90deg);
  }
  &:after {
    transform: translate(0px, -5px) rotate(90deg);
  }
}
