@import "../../../styles/variables.scss";
.btn {
  width: 100%;
  padding: 8px 25px;
  border-radius: $size-radius;
  background-color: transparent;
  border-color: $accent;
  color: $accent;
  cursor: pointer;
  @extend %mini-title-font;
  &:hover {
    background-color: $accent;
    color: $dark;
  }
}
