@import "../../../styles/variables.scss";
.btn {
  padding: 8px 25px;
  border-radius: 5px;
  background-color: transparent;
  border-color: $accent;
  color: $accent;
  @extend %mini-title-font;
  &:hover {
    background-color: $accent;
    color: $background;
  }
}
