@import "../../styles/variables.scss";
.table {
  width: 100%;
  @extend %info-card;
  th {
    text-align: start;
    @extend %mini-title-font;
    letter-spacing: 0px;
    line-height: 3rem;
  }
  td {
    text-align: end;
  }
}

@media screen and (min-width: 767px) {
  .table {
    padding: 10px 35px;
  }
}
