@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Regular.woff2"), url("./Gilroy-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Light.woff2"), url("./Gilroy-Light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Medium.woff2"), url("./Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Regular.woff2"), url("./Gilroy-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TenorSans";
  src: url("./TenorSans-Regular.woff2"), url("./TenorSans-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
