@import "../../../styles/variables.scss";
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .btn_edit {
    padding: 8px 10px;
    border-radius: $size-radius;
    border: $accent solid 1px;
    background-color: transparent;
    @extend %mini-title-font;
    color: $accent;
    &:hover {
      background-color: $accent;
      color: $background;
    }
  }
  .btn_del {
    padding: 8px 5px;
    background-color: transparent;
    border-radius: $size-radius;
    border: #e61b1b solid 1px;
    color: #e61b1b;
    @extend %mini-title-font;
    &:hover {
      background-color: #e61b1b;
      color: $white;
    }
  }
}
