.itemsList {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  padding: 20px 0 50px;
}

@media screen and (min-width: 767px) {
  .itemsList {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .itemsList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
